

#koko { 
 position: relative;
}

.mention-list { 
 width: 210px; 
 border: 1px solid #a3a0a0; 
 position: absolute; 
 top: 180px;
 left: 10px;
 background-color: #f8f9fa;
} 

.mention-list2 { 
 width: 420px; 
 border: 1px solid #a3a0a0; 
 position: absolute; 
 top: 75px;
 left: 700px;
 background-color: #f8f9fa;
} 

#exp { 
 width: 720px;  
 position: absolute; 
 top: 180px;
 left: 340px;
 height: 80px;
 background-color: #fafafa;
} 

#wrote { 
 width: 150px; 
 border: 1px solid #a3a0a0; 
 position: relative; 
 top: 100px;
 left: 280px;
 background-color: #fafafa;
} 

#wrochange { 
 width: 150px; 
 border: 1px solid #a3a0a0; 
 position: relative; 
 top: 100px;
 left: 320px;
 background-color: #fafafa;
} 

#in { 
 width: 150px;  
 position: absolute; 
 top: 270px;
 left: 285px;
 background-color: blue;
} 

ul li a { 
 display: block;
 color: #333;
 padding: 1px 0; 
} 

#toggle { 
 position: relative;
}

.makemake { 
 display: none;
 width: 150px; 
 border: 1px solid #a3a0a0; 
 position: absolute; 
 top: 60px;
 left: 0;
 background-color: #f8f9fa;
} 

.header-nav-list {
 display: flex; 
} 

.header-nav-item:not(:first-child) {
 margin-left: 30px; 
}

.review-list { 
 display: none;
 width: 200px; 
 border: 1px solid #a3a0a0; 
 position: absolute; 
 top: 350px;
 left: 200px;
 background-color: #f8f9fa;
} 

#review-table{
width: 900px;
top: 100px;
left: 300px;
position: relative;
border: 1px solid #a3a0a0;
font-size:18pt; font-weight:bold; color:blue;
}

.news {
  /* ボタンっぽいデザインを入れる */
  width: 100px;
  padding: 3px 5px;
  border: solid 1px #000;
  border-radius: 5px;
  top: 10px;
  left: 1100px;
  position: relative; /* 基準値とする */
  background: #E68031;
}

.news span {
  position: absolute;     /* 相対位置に指定 */
  top: -10px;             /* 表示位置を上から-10pxの位置にする */
  left: calc(100% - 10px);/* 表示位置を右から内側に10pxの位置 */
  color: #FFF;            /* 文字色を白に指定 */
  font-weight: bold;      /* 太文字にする */
  line-height: 20px;      /* 行の高さを指定 */
  text-align: center;     /* 文字を中央揃えにする */
  background: red;    /* 背景色をオレンジに指定 */
  border-radius: 10px;    /* line-heightの半分の角丸を指定 */
  min-width: 20px;        /* 最低幅を指定 */
  padding: 0 3px;         /* 左右に少しだけ余白を設定 */
  box-sizing: border-box; /* 計算しやすいように */
}

a.btn-tag {
  color: #fff;
  border-bottom: 5px solid #db9014;
  background: #f39800;
  top: 30px;
  left: 100px;
}

a.btn-tag:before {
  border-right: 2px solid rgba(255, 255, 255, .5);
  top: 30px;
  left: 100px;
}

a.btn-tag:hover {
  margin-top: 3px;
  border-bottom: 2px solid #db9014;
  background: #ffa50e;
  top: 30px;
  left: 100px;
}









.pre{
width: 10px;
top: 2000px;
left: 300px;
position: relative;

}