<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="css/especial.css" rel = "stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/js/hover.js"></script>
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
  	<ul class="header-nav-list">
    	<li class="header-nav-item" id = "toggle">
    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    	</button> 
    <ul class="toggle-list">
         <li><a href="/men">FLAVOR</a></li>
         <li><a href="/menMix">MIXFLAVOR</a></li>
         <li><a href="/logout">logout</a></li>
         <li><a href="/change">会員情報変更</a></li>
    </ul>
    	</li>
    </ul>
  </div>
</nav>
<form method="post" action ="/remove">
<table class="table table-striped">
  <thead>
    <tr>
     
      <th scope="col">ミックスフレーバー</th>
      <th scope="col">金額</th>
      
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="obj : ${datalist}">
      <td><a id ="pop" th:href="@{/remove(name=${obj.name})}">[[${obj.name}]]</a>
      <a id= "jok"></a></td>
      <td th:text="${obj.price}"></td>
    </tr>
   
  </tbody>
  
</table>
<p th:text="${loginUser.total}"></p>
 </form>
      			
       			
      	
	
</body>
</html>