<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細検索画面</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/js/scroll.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/Shisha/kussyon7">TOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item">
    <button type="button" onclick=history.back()>戻る</button>
     </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/logout">ログアウト</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/makeUser">新規会員登録</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/changeUser">会員情報変更</a>
      </li>
      
    </ul>
  </div>
  </nav>

<p th:text="${msg}"></p>

<div class="mx-auto text-center bg-success" style="width: 100%;">
<form id = "form1" method="post" action ="/Flavor">
	<select id = "sel" name = "select1" size = "1">
	<option value = "カクテル"  th:selected="${'カクテル' == select1}">カクテル系</option>
	<option value = "フルーツ"  th:selected="${'フルーツ' == select1}">フルーツ系</option>
	<option value = "スパイス"  th:selected="${'スパイス' == select1}">スパイス系</option>
	</select>
	<br>
	<select id = "sel2" name = "sort" size = "1">
	<option value = "1" th:selected="${1 == sort}">安い順</option>
	<option value = "2" th:selected="${2 == sort}">高い順</option>
	<option value = "3" th:selected="${3 == sort}"></option>
	</select>
</form>
	
	
	<form method="post" action ="/made">
	<br>
	
	<input type="submit" value="ミックスフレーバー作成画面へ">
	<br><br>

			
<tr th:each="obj : ${datalist}">	
<div id ="b"></div>  
	<div class="card mb-3" style="max-width: 1080px;">
  		<div class="row g-0">
    		<div class="col-md-4">
      			<img th:src="@{/img/{id}.jpg(id=${obj.id})}"height="150px"width="200px">
    		</div>
   		<div class="col-md-8">
        	<div class="samplej" id="scre" >
      							
       			 <h3 class="card-title"><input type="checkbox" name="checkbox" th:value="${obj.id}"><td>[[${obj.name}]]</td></h3>
       			 <h6 class="card-title">ジャンル : <td>[[${obj.genre}]]</td></h6>
        		 <h6 class="card-title">  価格   : <td>[[${obj.value}]]</td>円(税込み)</h6>  
        		 <h6 class="card-title"> 説明 : <td th:text="${obj.exp}"></h6>
       			 <p class="card-text"><small class="text-muted">made for : <td th:text="${obj.maker}"></small></p>
      		</div>
    	</div>
   	 </div>
	</div>
</tr>		

	 
      </form>



<div id = "name"></div>
      
</div>
  
</body>
</html>